.images {
    img {
        border-radius: 100px;
        border: 2px solid #ccc;
    }
}

@media screen and (max-width: 768px) {
    .images {
        img {
            width: 80px;
            height: 80px;
        }
    }
}
