.candicates {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    border-radius: 1rem;
    padding: 1rem 1rem;
    gap: 1rem;
    color: #000;
}

.swiperslide {
    width: 23%;
}
