.content {
    display: flex;
    width: 65%;
    margin: 5rem auto;
}

.menu {
    margin-top: 7rem;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;

        li {
            margin-bottom: 1rem;

            a {
                display: block;
                width: 100%;
                color: #eeeeee;
                font-size: 1.6rem;
                background-color: transparent;
                padding: 1rem 2rem;
                border-radius: 100px;
                transition: all 0.3s ease-in-out;
                font-weight: bold;
                text-align: center;

                &:hover {
                    background-color: rgba(88, 88, 88, 0.483);
                }
            }

            button {
                display: block;
                width: 100%;
                color: #eeeeee;
                background-color: transparent;
                padding: 1rem 2rem;
                font-size: 1.6rem;
                border-radius: 100px;
                transition: all 0.3s ease-in-out;
                font-weight: bold;
                text-align: center;
                border: 0;
                cursor: pointer;

                &:hover {
                    background-color: rgba(88, 88, 88, 0.483);
                }
            }
        }
    }
}

.main {
    width: 70%;
    padding: 0 4rem;
    h1 {
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: 2rem;
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .content {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .content {
        width: 100%;
    }
}
