.content {
    width: 25%;
    min-width: 300px;
    margin-top: 2rem;
}

@media screen and (max-width: 1440px) {
    .content {
        width: 40%;
        min-width: 0;
    }
}
@media screen and (max-width: 1024px) {
    .content {
        width: 40%;
        min-width: 0;
    }
}

@media screen and (max-width: 768px) {
    .content {
        width: 75%;
        min-width: 0;
    }
}

@media screen and (max-width: 480px) {
    .content {
        width: 90%;
    }
}
