.tooltip {
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    padding: 1rem 3rem;
    border-radius: 5px;
    pointer-events: none;
    font-size: 1.3rem;
    width: 280px;

    .cityname {
        font-weight: bold;
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
    }

    .candidate {
        display: flex;
        gap: 1rem;
        margin-bottom: 0.5rem;

        .candidateName {
            font-weight: bold;
        }
    }
}

@media (max-width: 768px) {
    .tooltip {
        width: 200px;
        padding: 1rem;
    }
}
